[access "refs/heads/*"]
	create = group Sony Common Maintainers
	create = group Sony Shinano Maintainers
	create = group Sony Sirius Maintainers
	push = +force group Sony Common Maintainers
	push = +force group Sony Shinano Maintainers
	push = +force group Sony Sirius Maintainers
	label-Code-Review = -2..+2 group Sony Common Maintainers
	label-Code-Review = -2..+2 group Sony Shinano Maintainers
	label-Code-Review = -2..+2 group Sony Sirius Maintainers
	label-Verified = -1..+1 group Sony Common Maintainers
	label-Verified = -1..+1 group Sony Shinano Maintainers
	label-Verified = -1..+1 group Sony Sirius Maintainers
	submit = group Sony Common Maintainers
	submit = group Sony Shinano Maintainers
	submit = group Sony Sirius Maintainers
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Shinano Maintainers
	pushMerge = group Sony Sirius Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Shinano Maintainers
	pushMerge = group Sony Sirius Maintainers
